#footerLine {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 90px;
  background: teal;
}

#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 80px;
  background: rgb(92, 92, 92);
}

.navbar {
    height: 90px;
}

.display-4 {
    color: teal;
    font-weight: bold;
}
.jumbotron {
    margin-top: 110px; 
    margin-left: 50px; 
    margin-bottom: 100px;
    background-color: white;
    float: left;
}
body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/ignasi_pattern_s.png");
    /* background-color: gray; */
}
