#footerLine {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 90px;
  background: teal;
}
#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 80px;
  background: rgb(92, 92, 92);
}

html {
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.navbar {
    height: 90px;
}

.display-4 {
    color: teal;
    font-weight: bold;
}
.jumbotron {
    margin-top: 110px; 
    margin-left: 50px; 
    margin-bottom: 100px;
    background-color: white;
}